src/lheutils/schema/lhe-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  elementFormDefault="qualified"
  version="1.1"
>
  <xs:annotation>
    <xs:documentation>
      XML Schema for the common core shared by the plain-text LHE examples in
      src/skhep_testdata/data/pylhe*.lhe.

      This schema keeps the common Les Houches container structure explicit,
      and also explicitly models generator/reweighting elements that recur
      across multiple samples: generator, initrwgt, rwgt, weight(s), scales,
      and the supporting weightgroup/wgt elements.

      Generator-specific extension elements are intentionally not declared
      here, but they are accepted through lax wildcard validation so files
      with additional MadGraph, Sherpa, or other extension tags are not
      rejected.
    </xs:documentation>
  </xs:annotation>

  <xs:element name="LesHouchesEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="header" minOccurs="0"/>
        <xs:element ref="init" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="event" maxOccurs="unbounded"/>
      </xs:sequence>
      <xs:attribute name="version" type="xs:string" use="required" fixed="1.0"/>
      <xs:anyAttribute processContents="skip"/>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="HeaderType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:any processContents="lax"/>
    </xs:choice>
    <xs:anyAttribute processContents="skip"/>
  </xs:complexType>

  <!--
    XSD 1.1 assertions let these mixed-content blocks keep their nested XML
    extension tags while still enforcing the leading plain-text LHE payload
    with a regex.
  -->
  <xs:complexType name="InitBlockType" mixed="true">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:any processContents="lax"/>
    </xs:choice>
    <xs:anyAttribute processContents="skip"/>
    <xs:assert test="matches(string-join(text(), ''), '^(\s*#.*\n)*\s*([-+]?\d+)\s+([-+]?\d+)\s+([-+]?((\d+(\.\d*)?)|(\.\d+))([eE][-+]?\d+)?)\s+([-+]?((\d+(\.\d*)?)|(\.\d+))([eE][-+]?\d+)?)\s+([-+]?\d+)\s+([-+]?\d+)\s+([-+]?\d+)\s+([-+]?\d+)\s+([-+]?\d+)\s+([-+]?\d+)(\n\s*#.*)*(\n\s*([-+]?((\d+(\.\d*)?)|(\.\d+))([eE][-+]?\d+)?)\s+([-+]?((\d+(\.\d*)?)|(\.\d+))([eE][-+]?\d+)?)\s+([-+]?((\d+(\.\d*)?)|(\.\d+))([eE][-+]?\d+)?)\s+([-+]?\d+)\s*(\n\s*#.*)*)*\s*$')"/>
  </xs:complexType>

  <xs:complexType name="EventBlockType" mixed="true">
    <xs:anyAttribute processContents="skip"/>
    <xs:assert test="matches(string-join(text(), ''), '^(\s*#.*\n)*\s*([-+]?\d+)\s+([-+]?\d+)\s+([-+]?((\d+(\.\d*)?)|(\.\d+))([eE][-+]?\d+)?)\s+([-+]?((\d+(\.\d*)?)|(\.\d+))([eE][-+]?\d+)?)\s+([-+]?((\d+(\.\d*)?)|(\.\d+))([eE][-+]?\d+)?)\s+([-+]?((\d+(\.\d*)?)|(\.\d+))([eE][-+]?\d+)?)\s*((\n\s*#.*)|(\n\s*([-+]?\d+)\s+([-+]?\d+)\s+([-+]?\d+)\s+([-+]?\d+)\s+([-+]?\d+)\s+([-+]?\d+)\s+([-+]?((\d+(\.\d*)?)|(\.\d+))([eE][-+]?\d+)?)\s+([-+]?((\d+(\.\d*)?)|(\.\d+))([eE][-+]?\d+)?)\s+([-+]?((\d+(\.\d*)?)|(\.\d+))([eE][-+]?\d+)?)\s+([-+]?((\d+(\.\d*)?)|(\.\d+))([eE][-+]?\d+)?)\s+([-+]?((\d+(\.\d*)?)|(\.\d+))([eE][-+]?\d+)?)\s+([-+]?((\d+(\.\d*)?)|(\.\d+))([eE][-+]?\d+)?)\s+([-+]?((\d+(\.\d*)?)|(\.\d+))([eE][-+]?\d+)?)\s*))*\s*$')"/>
  </xs:complexType>

  <xs:element name="header" type="HeaderType"/>
  <xs:element name="init" type="InitBlockType"/>
  <xs:element name="event" type="EventBlockType"/>
</xs:schema>
